@font-face {
  font-family: "iconfont"; /* Project id 4607362 */
  src: url('iconfont.woff2?t=1721637155552') format('woff2'),
       url('iconfont.woff?t=1721637155552') format('woff'),
       url('iconfont.ttf?t=1721637155552') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unfold:before {
  content: "\e618";
}

.icon-jingyin:before {
  content: "\10102";
}

.icon-16gl-repeat2:before {
  content: "\ea27";
}

.icon-danquxunhuan1:before {
  content: "\e600";
}

.icon-ic_batch_default24px:before {
  content: "\e617";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-shunxubofang:before {
  content: "\e601";
}

.icon-yinliang1:before {
  content: "\e8a0";
}

.icon-gengduo:before {
  content: "\e626";
}

.icon-yuyue1:before {
  content: "\e644";
}

.icon-shuaxin:before {
  content: "\e62a";
}

.icon-weibiaoti519:before {
  content: "\e622";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-backward:before {
  content: "\ea78";
}

.icon-forward:before {
  content: "\ea7c";
}

.icon-sousuo:before {
  content: "\e649";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-xiangyou:before {
  content: "\e775";
}

.icon-sc:before {
  content: "\e643";
}

.icon-sc-act:before {
  content: "\e684";
}

.icon-xiangzuo:before {
  content: "\eb15";
}

.icon-caidan:before {
  content: "\e60c";
}

.icon-bianji:before {
  content: "\e60a";
}

.icon-xiangxia:before {
  content: "\eb16";
}

