$font-size: 16px;
$color: #999;
//统一图标 icon 大小设置
$icon-size:20px;
$icon-color: #666;
//统一页面 padding
$paddingTwo:30px;
$padding:15px;
//统一页面 margin
$marginTwo:30px;
$margin:15px;
//统一边框样式
$box-border:1px solid #dcdfe6;

// 统一背景
$divider-line-bg: #dcdfe5;
$dark-bg:#1e1f22;
$light-tabs-bg:#f2f2f2;
$dark-tabs-bg:#2b2d30;


$color: #00CC65;
$bg-color: #00CC65;

$color-red: #FF4222